<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    <form action="/" method="POST">
        <input type="radio" id="detect_all" name="detect" value="0">
        <label for="detect_all">Detect All Classes</label><br>
        <input type="radio" id="detect_person" name="detect" value="1">
        <label for="detect_person">Detect Only Person Class with Color Detection</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
